@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li, a, button {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:#fff;
    text-decoration: none;
}
.logo-container{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.logo-title{
    padding-left: 15px;
    color: #fff;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: #3598db;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0 18px;
    text-transform: uppercase;
}
.nav_links li a {
    transition: all 0.2s ease 0s;
}
.nav_links li a:hover{
    color: #a92e2e;
}
.button {
    padding: 10px 20px;
    background-color: rgba(169, 46, 46, 1);
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
    margin-left: 22px;
}
button:hover{
  background-color: rgba(169, 46, 46, 0.7);  
}
.hero-section img{
    width: 100%;
    height: 400px;
}
#main {
    font-family: "Lato", sans-serif;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}
.about-us-container, .vision-container, .vision-container-two{
    display: flex;
    justify-content: space-around;
    gap:1em;
    margin: 60px;
}
.about-us-text{
    line-height: 2.5;
    font-size: 1.3em;
}
.vision-container{
    margin: 10px;
    padding: 10px;
}

.vision-container section li, .vision-container-two section li {
    color: #000 !important;
    font-size: small;
}
.vision-container-two {
    margin-top: 30px;
}
footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3598db;
    padding: 15px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.copyright {
    color: #fff;
}
.contact-form {
    max-width: 600px;
    margin: 20px auto;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #3598db;
    background-color: #f2f2f2;
    padding: 22px;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
label {
    min-width: 48%;
    margin-bottom: 12px;
}
input[type=text], input[type=email]{
    min-width: 50%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
}
textarea {
    min-width: 50%;
    height: 156px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:12px;
}
input[type=submit] {
    width: 100%;
    background-color: #a92e2e;
    color: #fff;
    padding: 14px;
    margin: 8px 0;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}
section img {
    width: 97%;
}
iframe{
    width: 560px;
    height: 315px; 
}
/*media query that caters for devices with less that 768px screen*/
@media (max-width: 768px) {
     .about-us-container, .vision-container, .vision-container-two{
      flex-direction: column;
      margin: 5px ;  
  }
     .about-us-text{
    line-height: 1;
    font-size: 18px;
}
}
/*Media query that caters for devices with less than 600px screen*/
@media (max-width: 600px) {
    .about-us-container, .vision-container, .vision-container-two{
      margin: 0 ;  
  }
  
  .about-us-text{
    font-size: 16px;
}
  label,
  input[type=text],
  input[type=email],
  input[type=submit],
  textarea {
    flex: 100%;
    min-width: 100%;
  }
}
